*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
h1{
  font-size: 2rem;
  margin-bottom: 1rem;
}
button{
  padding: 0.5rem 1rem;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}


